@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600&display=swap');

$color1 : #14141E;
$color2 : #F96D53;
$color3 : #FFFFFF;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}